:root {
  --branding-color: #339977;
  --secondary-color: #cf9fa9;
  --color-pop: #fae8e0;
}

body {
  background: var(--color-pop);
}

h1 {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 70px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

#location {
  color: var(--secondary-color);
}
a:link {
  color: var(--branding-color);
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: var(--branding-color);
  text-decoration: none;
  font-weight: bold;
}
