:root {
  --branding-color: #4ac29a;
  --secondary-color: #cf9fa9;
  --color-pop: #fae8e0;
}

body {
  background: var(--color-pop);
}

h1 {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 70px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

#location {
  color: var(--secondary-color);
}
a:link {
  color: var(--branding-color);
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: var(--branding-color);
  text-decoration: none;
  font-weight: bold;
}

hr {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 100%;
}

#main-img {
  border-radius: 30px;
}

h3 {
  text-align: center;
}
.btn-branding {
  background: var(--secondary-color);
  color: var(--color-pop);
  border-radius: 4px;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
}
.project img {
  height: 150px;
  width: 150px;
  border-radius: 30px;
}
@media screen and (max-width: 576px) {
  .col-8.hero-text {
    max-width: 100%;
    flex: 0 0 100%;
    order: 2;
    text-align: center;
  }
  .col-4.hero-img {
    max-width: 100%;
    flex: 0 0 100%;
    order: 1;
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  p.font-weight-bold {
    text-align: center;
  }
  p {
    font-size: 18px;
  }
}
